.weather-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #43affc;
}
.card-body {
  width: 400px;
}
.card-header {
  display: flex;
  font-size: 21px;
  font-weight: 500;
  color: #43affc;
  align-items: center;
}