.report-weather-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #43affc;
}
.report-card-body{
  width: 400px;
}
.report-card-header{
  display: flex;
  font-size: 21px;
  font-weight: 500;
  color: #43affc;
  align-items: center;
  margin-left: 9px;
}
.feelslike-humidity-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.feel-main-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.feelslike-box{
  display: flex;
  flex-direction: column;
  margin: 4px;
}
.humidity-main-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.humidity-box{
  display: flex;
  flex-direction: column;
  margin: 4px; 
}
